*
!.gitignore
# /root/.vimrc
/*
!/root
/root/*
!/root/.vimrc

# /etc/nginx/nginx.conf
/*
!/etc
/etc/*
!/etc/nginx
/etc/nginx/*
!/etc/nginx/nginx.conf

# /etc/my.cnf
/*
!/etc
/etc/*
!/etc/my.cnf

# /var/www/webapp/go/isuwitter/app.go
/*
!/var
/var/*
!/var/www
/var/www/*
!/var/www/webapp
/var/www/webapp/*
!/var/www/webapp/go
/var/www/webapp/go/*
!/var/www/webapp/go/isuwitter
/var/www/webapp/go/isuwitter/*
!/var/www/webapp/go/isuwitter/app.go

# /kataribe.sh
/*
!/kataribe.sh

# /kataribe.rb
/*
!/kataribe.rb

# /etc/systemd/system.conf
/*
!/etc
/etc/*
!/etc/systemd
/etc/systemd/*
!/etc/systemd/system.conf

# /slowlog.sh
/*
!/slowlog.sh

# /var/www/util/main.go
/*
!/var
/var/*
!/var/www
/var/www/*
!/var/www/util
/var/www/util/*
!/var/www/util/main.go

